USE [OperationalRiskManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/28/2025 4:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationUsers]    Script Date: 6/28/2025 4:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUsers](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Disabled] [bit] NOT NULL,
	[DepartmentId] [uniqueidentifier] NULL,
	[UserName] [nvarchar](max) NULL,
	[IsAdmin] [bit] NOT NULL,
	[KriSubmissionAccess] [bit] NOT NULL,
	[Phone1] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ApplicationUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attachments]    Script Date: 6/28/2025 4:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachments](
	[Id] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FileType] [nvarchar](max) NOT NULL,
	[Size] [nvarchar](max) NOT NULL,
	[SubmissionId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Attachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 6/28/2025 4:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [uniqueidentifier] NOT NULL,
	[DepartmentName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 6/28/2025 4:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [uniqueidentifier] NOT NULL,
	[FeedbackContent] [nvarchar](max) NOT NULL,
	[SubmissionId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidentDocuments]    Script Date: 6/28/2025 4:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentDocuments](
	[Id] [uniqueidentifier] NOT NULL,
	[IncidentId] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[FileType] [nvarchar](max) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_IncidentDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidentReviewComments]    Script Date: 6/28/2025 4:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentReviewComments](
	[Id] [uniqueidentifier] NOT NULL,
	[IncidentId] [uniqueidentifier] NOT NULL,
	[CommentText] [nvarchar](max) NOT NULL,
	[CommenterId] [nvarchar](max) NOT NULL,
	[CommenterName] [nvarchar](max) NOT NULL,
	[CommentDate] [datetime2](7) NOT NULL,
	[IsRevisionNote] [bit] NOT NULL,
	[IsVisibleToDepartment] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_IncidentReviewComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidents]    Script Date: 6/28/2025 4:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidents](
	[Id] [uniqueidentifier] NOT NULL,
	[ReportedBy] [nvarchar](max) NOT NULL,
	[TitleRole] [nvarchar](max) NOT NULL,
	[BranchDepartmentUnit] [nvarchar](max) NOT NULL,
	[ReportDate] [datetime2](7) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[DiscoveryDate] [datetime2](7) NOT NULL,
	[DiscoveredBy] [nvarchar](max) NOT NULL,
	[TitleOfIncident] [nvarchar](max) NOT NULL,
	[ActivityProcess] [nvarchar](max) NOT NULL,
	[FirstLineRiskOwner] [nvarchar](max) NOT NULL,
	[IncidentType] [int] NOT NULL,
	[IncidentStatus] [int] NOT NULL,
	[IncidentCategoryLevel] [int] NOT NULL,
	[RiskType] [int] NOT NULL,
	[RiskAssessment] [int] NOT NULL,
	[FinancialLossCurrency] [nvarchar](max) NOT NULL,
	[FinancialLossGrossAmount] [decimal](18, 2) NULL,
	[FinancialLossLegalCosts] [decimal](18, 2) NULL,
	[FinancialLossOtherCosts] [decimal](18, 2) NULL,
	[FinancialLossRecoveryFromClient] [decimal](18, 2) NULL,
	[FinancialLossRecoveryFromInsurance] [decimal](18, 2) NULL,
	[FinancialLossNetLossToDate] [decimal](18, 2) NULL,
	[GainCurrency] [nvarchar](max) NOT NULL,
	[GainGrossAmount] [decimal](18, 2) NULL,
	[GainLegalCosts] [decimal](18, 2) NULL,
	[GainOtherCosts] [decimal](18, 2) NULL,
	[GainRecoveryFromClient] [decimal](18, 2) NULL,
	[GainRecoveryFromInsurance] [decimal](18, 2) NULL,
	[NonFinancialImpact] [nvarchar](50) NULL,
	[GainNetAmount] [decimal](18, 2) NULL,
	[EventIncidentDescription] [nvarchar](max) NOT NULL,
	[EventIncidentCause] [nvarchar](max) NOT NULL,
	[EventIncidentDiscovery] [nvarchar](max) NOT NULL,
	[CorrectiveActionsImplemented] [nvarchar](max) NOT NULL,
	[HasWrittenProcedure] [bit] NOT NULL,
	[ProcedureIncludesControls] [bit] NOT NULL,
	[ExistingControlMeasures] [nvarchar](max) NOT NULL,
	[ReasonsForFailure] [nvarchar](max) NOT NULL,
	[ProposedPoliciesProcedures] [nvarchar](max) NOT NULL,
	[ProposedControls] [nvarchar](max) NOT NULL,
	[ProposedHumanResources] [nvarchar](max) NOT NULL,
	[ProposedSystems] [nvarchar](max) NOT NULL,
	[ProposedOthers] [nvarchar](max) NOT NULL,
	[OtherComments] [nvarchar](max) NOT NULL,
	[RiskManagementNotes] [nvarchar](max) NULL,
	[RequiresRevision] [bit] NOT NULL,
	[LastReviewDate] [datetime2](7) NULL,
	[ReviewedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Incidents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Indicators]    Script Date: 6/28/2025 4:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Indicators](
	[Id] [uniqueidentifier] NOT NULL,
	[TemplateId] [uniqueidentifier] NOT NULL,
	[KRIType] [nvarchar](max) NOT NULL,
	[RfNo] [nvarchar](max) NOT NULL,
	[Process] [nvarchar](max) NULL,
	[RiskArea] [nvarchar](max) NULL,
	[IndicatorName] [nvarchar](max) NOT NULL,
	[FrequencyOfReview] [nvarchar](max) NOT NULL,
	[TotalProcess] [int] NULL,
	[TolerableBreaches] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Indicators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 6/28/2025 4:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 6/28/2025 4:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NULL,
	[Body] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReadAt] [datetime2](7) NULL,
	[IsRead] [bit] NOT NULL,
	[Type] [int] NOT NULL,
	[IsEmailSent] [bit] NOT NULL,
	[EmailSentAt] [datetime2](7) NULL,
	[IsSystemNotification] [bit] NOT NULL,
	[IsRiskManagementNotification] [bit] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffConcerned]    Script Date: 6/28/2025 4:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffConcerned](
	[Id] [uniqueidentifier] NOT NULL,
	[IncidentId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[TitleFunction] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_StaffConcerned] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 6/28/2025 4:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[Id] [uniqueidentifier] NOT NULL,
	[ReportingMonth] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Breaches] [int] NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[WindowLocked] [bit] NOT NULL,
	[WindowLockReason] [nvarchar](max) NULL,
	[WindowOverride] [bit] NULL,
	[WindowOverrideBy] [nvarchar](max) NULL,
	[WindowOverrideDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[IndicatorId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Submissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubmissionWindows]    Script Date: 6/28/2025 4:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubmissionWindows](
	[Id] [uniqueidentifier] NOT NULL,
	[Frequency] [nvarchar](max) NOT NULL,
	[OpenDaysBeforePeriodEnd] [int] NOT NULL,
	[CloseDaysAfterPeriodEnd] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_SubmissionWindows] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Templates]    Script Date: 6/28/2025 4:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Templates](
	[Id] [uniqueidentifier] NOT NULL,
	[FocalPoint] [nvarchar](max) NULL,
	[ApplicationUserId] [uniqueidentifier] NOT NULL,
	[DepartmentId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Templates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApplicationUsers]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationUsers_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUsers] CHECK CONSTRAINT [FK_ApplicationUsers_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Attachments]  WITH CHECK ADD  CONSTRAINT [FK_Attachments_Submissions_SubmissionId] FOREIGN KEY([SubmissionId])
REFERENCES [dbo].[Submissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attachments] CHECK CONSTRAINT [FK_Attachments_Submissions_SubmissionId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Submissions_SubmissionId] FOREIGN KEY([SubmissionId])
REFERENCES [dbo].[Submissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedback_Submissions_SubmissionId]
GO
ALTER TABLE [dbo].[IncidentDocuments]  WITH CHECK ADD  CONSTRAINT [FK_IncidentDocuments_Incidents_IncidentId] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IncidentDocuments] CHECK CONSTRAINT [FK_IncidentDocuments_Incidents_IncidentId]
GO
ALTER TABLE [dbo].[IncidentReviewComments]  WITH CHECK ADD  CONSTRAINT [FK_IncidentReviewComments_Incidents_IncidentId] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IncidentReviewComments] CHECK CONSTRAINT [FK_IncidentReviewComments_Incidents_IncidentId]
GO
ALTER TABLE [dbo].[Indicators]  WITH CHECK ADD  CONSTRAINT [FK_Indicators_Templates_TemplateId] FOREIGN KEY([TemplateId])
REFERENCES [dbo].[Templates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Indicators] CHECK CONSTRAINT [FK_Indicators_Templates_TemplateId]
GO
ALTER TABLE [dbo].[StaffConcerned]  WITH CHECK ADD  CONSTRAINT [FK_StaffConcerned_Incidents_IncidentId] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StaffConcerned] CHECK CONSTRAINT [FK_StaffConcerned_Incidents_IncidentId]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Indicators_IndicatorId] FOREIGN KEY([IndicatorId])
REFERENCES [dbo].[Indicators] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Indicators_IndicatorId]
GO
ALTER TABLE [dbo].[Templates]  WITH CHECK ADD  CONSTRAINT [FK_Templates_ApplicationUsers_ApplicationUserId] FOREIGN KEY([ApplicationUserId])
REFERENCES [dbo].[ApplicationUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Templates] CHECK CONSTRAINT [FK_Templates_ApplicationUsers_ApplicationUserId]
GO
ALTER TABLE [dbo].[Templates]  WITH CHECK ADD  CONSTRAINT [FK_Templates_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Templates] CHECK CONSTRAINT [FK_Templates_Departments_DepartmentId]
GO
