USE [OperationalRiskManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/28/2025 5:47:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attachments]    Script Date: 5/28/2025 5:47:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachments](
	[Id] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FileType] [nvarchar](max) NOT NULL,
	[Size] [nvarchar](max) NOT NULL,
	[SubmissionId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Attachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 5/28/2025 5:47:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [uniqueidentifier] NOT NULL,
	[DepartmentName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 5/28/2025 5:47:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Id] [uniqueidentifier] NOT NULL,
	[FeedbackContent] [nvarchar](max) NOT NULL,
	[SubmissionId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Indicators]    Script Date: 5/28/2025 5:47:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Indicators](
	[Id] [uniqueidentifier] NOT NULL,
	[TemplateId] [uniqueidentifier] NOT NULL,
	[KRIType] [nvarchar](max) NOT NULL,
	[RfNo] [nvarchar](max) NOT NULL,
	[Process] [nvarchar](max) NOT NULL,
	[RiskArea] [nvarchar](max) NOT NULL,
	[IndicatorName] [nvarchar](max) NOT NULL,
	[FrequencyOfReview] [nvarchar](max) NOT NULL,
	[TotalProcess] [int] NULL,
	[TolerableBreaches] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Indicators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 5/28/2025 5:47:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OverrideAccessRequests]    Script Date: 5/28/2025 5:47:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OverrideAccessRequests](
	[Id] [uniqueidentifier] NOT NULL,
	[SubmissionId] [uniqueidentifier] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[RequestStatus] [nvarchar](20) NOT NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](7) NULL,
	[StartTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_OverrideAccessRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 5/28/2025 5:47:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[Id] [uniqueidentifier] NOT NULL,
	[ReportingMonth] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Breaches] [int] NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[IndicatorId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
	[WindowLocked] [bit] NOT NULL,
	[WindowLockReason] [nvarchar](255) NULL,
	[WindowOverride] [bit] NOT NULL,
	[WindowOverrideBy] [nvarchar](100) NULL,
	[WindowOverrideDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Submissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubmissionWindows]    Script Date: 5/28/2025 5:47:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubmissionWindows](
	[Id] [uniqueidentifier] NOT NULL,
	[Frequency] [nvarchar](20) NOT NULL,
	[OpenDaysBeforePeriodEnd] [int] NOT NULL,
	[CloseDaysAfterPeriodEnd] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[UpdateBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Templates]    Script Date: 5/28/2025 5:47:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Templates](
	[Id] [uniqueidentifier] NOT NULL,
	[FocalPoint] [nvarchar](max) NOT NULL,
	[DepartmentId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreatedByFullName] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[UpdatedByFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Templates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[Indicators] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[OverrideAccessRequests] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[OverrideAccessRequests] ADD  DEFAULT ('Pending') FOR [RequestStatus]
GO
ALTER TABLE [dbo].[OverrideAccessRequests] ADD  DEFAULT (sysutcdatetime()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT ((0)) FOR [WindowLocked]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT ((0)) FOR [WindowOverride]
GO
ALTER TABLE [dbo].[SubmissionWindows] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[SubmissionWindows] ADD  DEFAULT ((3)) FOR [OpenDaysBeforePeriodEnd]
GO
ALTER TABLE [dbo].[SubmissionWindows] ADD  DEFAULT ((7)) FOR [CloseDaysAfterPeriodEnd]
GO
ALTER TABLE [dbo].[SubmissionWindows] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SubmissionWindows] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Templates] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[Attachments]  WITH CHECK ADD  CONSTRAINT [FK_Attachments_Submissions_SubmissionId] FOREIGN KEY([SubmissionId])
REFERENCES [dbo].[Submissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attachments] CHECK CONSTRAINT [FK_Attachments_Submissions_SubmissionId]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Submissions_SubmissionId] FOREIGN KEY([SubmissionId])
REFERENCES [dbo].[Submissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Submissions_SubmissionId]
GO
ALTER TABLE [dbo].[Indicators]  WITH CHECK ADD  CONSTRAINT [FK_Indicators_Templates_TemplateId] FOREIGN KEY([TemplateId])
REFERENCES [dbo].[Templates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Indicators] CHECK CONSTRAINT [FK_Indicators_Templates_TemplateId]
GO
ALTER TABLE [dbo].[OverrideAccessRequests]  WITH CHECK ADD  CONSTRAINT [FK_OverrideAccessRequests_Submissions] FOREIGN KEY([SubmissionId])
REFERENCES [dbo].[Submissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OverrideAccessRequests] CHECK CONSTRAINT [FK_OverrideAccessRequests_Submissions]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Indicators_IndicatorId] FOREIGN KEY([IndicatorId])
REFERENCES [dbo].[Indicators] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Indicators_IndicatorId]
GO
ALTER TABLE [dbo].[Templates]  WITH CHECK ADD  CONSTRAINT [FK_Templates_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Templates] CHECK CONSTRAINT [FK_Templates_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[OverrideAccessRequests]  WITH CHECK ADD  CONSTRAINT [CK_OverrideAccessRequests_Status] CHECK  (([RequestStatus]='Revoked' OR [RequestStatus]='Rejected' OR [RequestStatus]='Approved' OR [RequestStatus]='Pending'))
GO
ALTER TABLE [dbo].[OverrideAccessRequests] CHECK CONSTRAINT [CK_OverrideAccessRequests_Status]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [CK_Submissions_Status] CHECK  (([Status]='Overdue' OR [Status]='Submitted' OR [Status]='In Progress' OR [Status]='Open' OR [Status]='Closed'))
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [CK_Submissions_Status]
GO
ALTER TABLE [dbo].[SubmissionWindows]  WITH CHECK ADD CHECK  (([Frequency]='Annual' OR [Frequency]='Semi-Annual' OR [Frequency]='Quarterly' OR [Frequency]='Monthly'))
GO
/****** Object:  StoredProcedure [dbo].[sp_GeneratePeriodicKRISubmissions]    Script Date: 5/28/2025 5:47:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GeneratePeriodicKRISubmissions]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @CurrentDate DATETIME2 = GETUTCDATE();
        DECLARE @CurrentMonth DATETIME2 = DATEADD(MONTH, DATEDIFF(MONTH, 0, @CurrentDate), 0);
        DECLARE @CurrentMonthNumber INT = MONTH(@CurrentMonth);
        DECLARE @CurrentYear INT = YEAR(@CurrentMonth);

        -- System identity declared only once here
        DECLARE @SystemUser NVARCHAR(100) = 'System_Automation';
        DECLARE @SystemUserFullName NVARCHAR(100) = 'Automated System';

        -- Capture inserted submissions
        DECLARE @Inserted TABLE (
            SubmissionId UNIQUEIDENTIFIER,
            IndicatorId UNIQUEIDENTIFIER
        );

        INSERT INTO [dbo].[Submissions] (
            [Id],
            [ReportingMonth],
            [Status],
            [Breaches],
            [Notes],
            [IsDeleted],
            [DeletedDate],
            [DeletedBy],
            [IndicatorId],
            [CreateDate],
            [CreateBy],
            [CreatedByFullName],
            [UpdatedDate],
            [UpdateBy],
            [UpdatedByFullName]
        )
        OUTPUT 
            inserted.Id,
            inserted.IndicatorId
        INTO @Inserted (SubmissionId, IndicatorId)
        SELECT 
            NEWID(),
            @CurrentMonth,
            'Open',
            0,
            '',
            0,
            NULL,
            NULL,
            i.Id,
            @CurrentDate,
            @SystemUser,
            @SystemUserFullName,
            NULL,
            NULL,
            NULL
        FROM [dbo].[Indicators] i
        WHERE 
            i.IsActive = 1 
            AND i.IsDeleted = 0
            AND (
                (UPPER(i.FrequencyOfReview) = 'MONTHLY') OR
                (UPPER(i.FrequencyOfReview) = 'QUARTERLY' AND @CurrentMonthNumber IN (1, 4, 7, 10)) OR
                (UPPER(i.FrequencyOfReview) = 'SEMI-ANNUAL' AND @CurrentMonthNumber IN (1, 7)) OR
                (UPPER(i.FrequencyOfReview) = 'ANNUAL' AND @CurrentMonthNumber = 1)
            )
            AND NOT EXISTS (
                SELECT 1 
                FROM [dbo].[Submissions] s 
                WHERE s.IndicatorId = i.Id 
                  AND DATEPART(MONTH, s.ReportingMonth) = @CurrentMonthNumber
                  AND DATEPART(YEAR, s.ReportingMonth) = @CurrentYear
                  AND s.IsDeleted = 0
            );

        DECLARE @CreatedSubmissions TABLE (
            SubmissionId UNIQUEIDENTIFIER,
            IndicatorId UNIQUEIDENTIFIER,
            IndicatorName NVARCHAR(MAX),
            Frequency NVARCHAR(MAX),
            DepartmentId UNIQUEIDENTIFIER,
            DepartmentName NVARCHAR(MAX)
        );

        INSERT INTO @CreatedSubmissions
        SELECT 
            irow.SubmissionId,
            irow.IndicatorId,
            ind.IndicatorName,
            ind.FrequencyOfReview,
            tmpl.DepartmentId,
            dept.DepartmentName
        FROM @Inserted irow
        JOIN Indicators ind ON irow.IndicatorId = ind.Id
        JOIN Templates tmpl ON ind.TemplateId = tmpl.Id
        JOIN Departments dept ON tmpl.DepartmentId = dept.Id;

        -- Logging
        INSERT INTO [dbo].[Logs] (
            [Id],
            [Content],
            [CreateDate],
            [CreateBy],
            [CreatedByFullName],
            [UpdatedDate],
            [UpdateBy],
            [UpdatedByFullName]
        )
        SELECT 
            NEWID(),
            'Periodic KRI submission created for department [' + cs.DepartmentName + 
            '], indicator [' + cs.IndicatorName + '] (' + cs.Frequency + ' frequency) for month ' + 
            FORMAT(@CurrentMonth, 'MMMM yyyy'),
            @CurrentDate,
            @SystemUser,
            @SystemUserFullName,
            NULL,
            NULL,
            NULL
        FROM @CreatedSubmissions cs;

        -- Return summary
        SELECT 
            cs.Frequency,
            COUNT(*) AS SubmissionsCreated,
            FORMAT(@CurrentMonth, 'MMMM yyyy') AS ReportingPeriod
        FROM @CreatedSubmissions cs
        GROUP BY cs.Frequency
        ORDER BY cs.Frequency;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Re-declare only if not already declared
      

        INSERT INTO [dbo].[Logs] (
            [Id],
            [Content],
            [CreateDate],
            [CreateBy],
            [CreatedByFullName]
        )
        VALUES (
            NEWID(),
            'Error in sp_GeneratePeriodicKRISubmissions: ' + ERROR_MESSAGE(),
            GETUTCDATE(),
            @SystemUser,
            @SystemUserFullName
        );

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ManageDynamicSubmissionWindows]    Script Date: 5/28/2025 5:47:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ManageDynamicSubmissionWindows]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CurrentDate DATE = GETDATE();
    DECLARE @SystemUser NVARCHAR(100) = 'System_Automation';
    
    -- Temporary table to calculate window dates
    CREATE TABLE #WindowCalculations (
        SubmissionId UNIQUEIDENTIFIER,
        PeriodEndDate DATE,
        WindowOpenDate DATE,
        WindowCloseDate DATE,
        ShouldBeLocked BIT
    );
    
    -- Calculate window dates for all active submissions
    INSERT INTO #WindowCalculations
    SELECT 
        s.Id,
        CASE 
            WHEN i.FrequencyOfReview = 'Monthly' THEN EOMONTH(s.ReportingMonth)
            WHEN i.FrequencyOfReview = 'Quarterly' THEN EOMONTH(DATEADD(MONTH, 2, DATEFROMPARTS(YEAR(s.ReportingMonth), ((DATEPART(QUARTER, s.ReportingMonth)-1)*3)+1, 1)))
            WHEN i.FrequencyOfReview = 'Semi-Annual' THEN 
                CASE WHEN MONTH(s.ReportingMonth) <= 6 
                     THEN DATEFROMPARTS(YEAR(s.ReportingMonth), 6, 30)
                     ELSE DATEFROMPARTS(YEAR(s.ReportingMonth), 12, 31)
                END
            WHEN i.FrequencyOfReview = 'Annual' THEN DATEFROMPARTS(YEAR(s.ReportingMonth), 12, 31)
        END AS PeriodEndDate,
        DATEADD(DAY, -w.OpenDaysBeforePeriodEnd, 
            CASE 
                WHEN i.FrequencyOfReview = 'Monthly' THEN EOMONTH(s.ReportingMonth)
                WHEN i.FrequencyOfReview = 'Quarterly' THEN EOMONTH(DATEADD(MONTH, 2, DATEFROMPARTS(YEAR(s.ReportingMonth), ((DATEPART(QUARTER, s.ReportingMonth)-1)*3)+1, 1)))
                WHEN i.FrequencyOfReview = 'Semi-Annual' THEN 
                    CASE WHEN MONTH(s.ReportingMonth) <= 6 
                         THEN DATEFROMPARTS(YEAR(s.ReportingMonth), 6, 30)
                         ELSE DATEFROMPARTS(YEAR(s.ReportingMonth), 12, 31)
                    END
                WHEN i.FrequencyOfReview = 'Annual' THEN DATEFROMPARTS(YEAR(s.ReportingMonth), 12, 31)
            END) AS WindowOpenDate,
        DATEADD(DAY, w.CloseDaysAfterPeriodEnd,
            CASE 
                WHEN i.FrequencyOfReview = 'Monthly' THEN EOMONTH(s.ReportingMonth)
                WHEN i.FrequencyOfReview = 'Quarterly' THEN EOMONTH(DATEADD(MONTH, 2, DATEFROMPARTS(YEAR(s.ReportingMonth), ((DATEPART(QUARTER, s.ReportingMonth)-1)*3)+1, 1)))
                WHEN i.FrequencyOfReview = 'Semi-Annual' THEN 
                    CASE WHEN MONTH(s.ReportingMonth) <= 6 
                         THEN DATEFROMPARTS(YEAR(s.ReportingMonth), 6, 30)
                         ELSE DATEFROMPARTS(YEAR(s.ReportingMonth), 12, 31)
                    END
                WHEN i.FrequencyOfReview = 'Annual' THEN DATEFROMPARTS(YEAR(s.ReportingMonth), 12, 31)
            END) AS WindowCloseDate,
        CASE 
            WHEN @CurrentDate < DATEADD(DAY, -w.OpenDaysBeforePeriodEnd, 
                    CASE 
                        WHEN i.FrequencyOfReview = 'Monthly' THEN EOMONTH(s.ReportingMonth)
                        WHEN i.FrequencyOfReview = 'Quarterly' THEN EOMONTH(DATEADD(MONTH, 2, DATEFROMPARTS(YEAR(s.ReportingMonth), ((DATEPART(QUARTER, s.ReportingMonth)-1)*3)+1, 1)))
                        WHEN i.FrequencyOfReview = 'Semi-Annual' THEN 
                            CASE WHEN MONTH(s.ReportingMonth) <= 6 
                                 THEN DATEFROMPARTS(YEAR(s.ReportingMonth), 6, 30)
                                 ELSE DATEFROMPARTS(YEAR(s.ReportingMonth), 12, 31)
                            END
                        WHEN i.FrequencyOfReview = 'Annual' THEN DATEFROMPARTS(YEAR(s.ReportingMonth), 12, 31)
                    END) THEN 1
            WHEN @CurrentDate > DATEADD(DAY, w.CloseDaysAfterPeriodEnd,
                    CASE 
                        WHEN i.FrequencyOfReview = 'Monthly' THEN EOMONTH(s.ReportingMonth)
                        WHEN i.FrequencyOfReview = 'Quarterly' THEN EOMONTH(DATEADD(MONTH, 2, DATEFROMPARTS(YEAR(s.ReportingMonth), ((DATEPART(QUARTER, s.ReportingMonth)-1)*3)+1, 1)))
                        WHEN i.FrequencyOfReview = 'Semi-Annual' THEN 
                            CASE WHEN MONTH(s.ReportingMonth) <= 6 
                                 THEN DATEFROMPARTS(YEAR(s.ReportingMonth), 6, 30)
                                 ELSE DATEFROMPARTS(YEAR(s.ReportingMonth), 12, 31)
                            END
                        WHEN i.FrequencyOfReview = 'Annual' THEN DATEFROMPARTS(YEAR(s.ReportingMonth), 12, 31)
                    END) THEN 1
            ELSE 0
        END AS ShouldBeLocked
    FROM [dbo].[Submissions] s
    JOIN [dbo].[Indicators] i ON s.IndicatorId = i.Id
    JOIN [dbo].[SubmissionWindows] w ON i.FrequencyOfReview = w.Frequency
    WHERE s.IsDeleted = 0
    AND w.IsActive = 1;
    
    -- Update lock status where not overridden
    UPDATE s
    SET 
        s.WindowLocked = c.ShouldBeLocked,
        s.WindowLockReason = CASE 
            WHEN c.ShouldBeLocked = 1 AND @CurrentDate < c.WindowOpenDate 
                THEN 'Submission window not yet open'
            WHEN c.ShouldBeLocked = 1 AND @CurrentDate > c.WindowCloseDate 
                THEN 'Submission window closed'
            ELSE NULL
        END,
        s.WindowOverride = CASE 
            WHEN s.WindowOverride = 1 AND c.ShouldBeLocked = 0 THEN 0 
            ELSE s.WindowOverride 
        END
    FROM [dbo].[Submissions] s
    JOIN #WindowCalculations c ON s.Id = c.SubmissionId
    WHERE s.WindowOverride = 0 OR (s.WindowOverride = 1 AND c.ShouldBeLocked = 0);
    
    -- Clean up
    DROP TABLE #WindowCalculations;
    
    -- Log the operation
    INSERT INTO [dbo].[SystemLogs]
    VALUES (NEWID(), 'Processed dynamic submission windows', GETDATE(), @SystemUser);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ManageSubmissionLifecycle]    Script Date: 5/28/2025 5:47:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ManageSubmissionLifecycle]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CurrentDate DATETIME = GETUTCDATE();
    DECLARE @SystemUser NVARCHAR(100) = 'System_Automation';
    
    -- Get active window configurations
    DECLARE @WindowConfig TABLE (
        Frequency NVARCHAR(20),
        DaysBefore INT,
        DaysAfter INT
    );
    
    INSERT INTO @WindowConfig
    SELECT Frequency, OpenDaysBeforePeriodEnd, CloseDaysAfterPeriodEnd
    FROM [dbo].[SubmissionWindows]
    WHERE IsActive = 1;
    
    -- Calculate period dates for all submissions
    WITH PeriodCalculations AS (
        SELECT 
            s.Id,
            s.ReportingMonth,
            s.Status,
            i.FrequencyOfReview,
            -- Calculate period end date
            CASE 
                WHEN i.FrequencyOfReview = 'Monthly' THEN EOMONTH(s.ReportingMonth)
                WHEN i.FrequencyOfReview = 'Quarterly' THEN EOMONTH(DATEADD(MONTH, 2, DATEFROMPARTS(YEAR(s.ReportingMonth), ((DATEPART(QUARTER, s.ReportingMonth)-1)*3)+1, 1)))
                WHEN i.FrequencyOfReview = 'Annual' THEN DATEFROMPARTS(YEAR(s.ReportingMonth), 12, 31)
            END AS PeriodEndDate
        FROM [dbo].[Submissions] s
        JOIN [dbo].[Indicators] i ON s.IndicatorId = i.Id
        WHERE s.IsDeleted = 0
    )
    -- Update statuses based on current date
    UPDATE s
    SET 
        s.Status = CASE
            -- Open submissions when window starts
            WHEN pc.Status = 'Closed' 
                 AND @CurrentDate >= DATEADD(DAY, -wc.DaysBefore, pc.PeriodEndDate)
                 AND @CurrentDate <= DATEADD(DAY, wc.DaysAfter, pc.PeriodEndDate)
            THEN 'Open'
            
            -- Mark overdue if window closed without submission
            WHEN pc.Status IN ('Open', 'In Progress')
                 AND @CurrentDate > DATEADD(DAY, wc.DaysAfter, pc.PeriodEndDate)
            THEN 'Overdue'
            
            -- Otherwise maintain current status
            ELSE s.Status
        END,
        s.UpdatedDate = CASE 
            WHEN s.Status <> CASE
                WHEN pc.Status = 'Closed' 
                     AND @CurrentDate >= DATEADD(DAY, -wc.DaysBefore, pc.PeriodEndDate)
                     AND @CurrentDate <= DATEADD(DAY, wc.DaysAfter, pc.PeriodEndDate)
                THEN 'Open'
                WHEN pc.Status IN ('Open', 'In Progress')
                     AND @CurrentDate > DATEADD(DAY, wc.DaysAfter, pc.PeriodEndDate)
                THEN 'Overdue'
                ELSE s.Status
            END THEN @CurrentDate
            ELSE s.UpdatedDate
        END,
        s.UpdateBy = CASE 
            WHEN s.Status <> CASE
                WHEN pc.Status = 'Closed' 
                     AND @CurrentDate >= DATEADD(DAY, -wc.DaysBefore, pc.PeriodEndDate)
                     AND @CurrentDate <= DATEADD(DAY, wc.DaysAfter, pc.PeriodEndDate)
                THEN 'Open'
                WHEN pc.Status IN ('Open', 'In Progress')
                     AND @CurrentDate > DATEADD(DAY, wc.DaysAfter, pc.PeriodEndDate)
                THEN 'Overdue'
                ELSE s.Status
            END THEN @SystemUser
            ELSE s.UpdateBy
        END
    FROM [dbo].[Submissions] s
    JOIN PeriodCalculations pc ON s.Id = pc.Id
    JOIN @WindowConfig wc ON pc.FrequencyOfReview = wc.Frequency;
    
    -- Log significant state changes
    INSERT INTO [dbo].[SubmissionAuditLog] (Id, SubmissionId, Action, ActionDate, ActionBy)
    SELECT 
        NEWID(),
        s.Id,
        'Status changed from ' + s.Status + ' to ' + 
            CASE
                WHEN s.Status = 'Closed' AND @CurrentDate BETWEEN DATEADD(DAY, -wc.DaysBefore, pc.PeriodEndDate) 
                                                         AND DATEADD(DAY, wc.DaysAfter, pc.PeriodEndDate)
                THEN 'Open'
                WHEN s.Status IN ('Open', 'In Progress') AND @CurrentDate > DATEADD(DAY, wc.DaysAfter, pc.PeriodEndDate)
                THEN 'Overdue'
                ELSE s.Status
            END,
        @CurrentDate,
        @SystemUser
    FROM [dbo].[Submissions] s
    JOIN PeriodCalculations pc ON s.Id = pc.Id
    JOIN @WindowConfig wc ON pc.FrequencyOfReview = wc.Frequency
    WHERE s.Status <> CASE
        WHEN s.Status = 'Closed' AND @CurrentDate BETWEEN DATEADD(DAY, -wc.DaysBefore, pc.PeriodEndDate) 
                                                 AND DATEADD(DAY, wc.DaysAfter, pc.PeriodEndDate)
        THEN 'Open'
        WHEN s.Status IN ('Open', 'In Progress') AND @CurrentDate > DATEADD(DAY, wc.DaysAfter, pc.PeriodEndDate)
        THEN 'Overdue'
        ELSE s.Status
    END;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OverrideSubmissionWindow]    Script Date: 5/28/2025 5:47:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_OverrideSubmissionWindow]
    @SubmissionId UNIQUEIDENTIFIER,
    @Override BIT,
    @Reason NVARCHAR(255),
    @AdminUser NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        UPDATE [dbo].[Submissions]
        SET 
            WindowOverride = @Override,
            WindowOverrideBy = @AdminUser,
            WindowOverrideDate = GETDATE(),
            WindowLockReason = CASE 
                WHEN @Override = 1 THEN 'Manually overridden: ' + @Reason
                ELSE NULL
            END
        WHERE Id = @SubmissionId;
        
        -- Audit trail
        INSERT INTO [dbo].[SubmissionAuditLog]
        VALUES (NEWID(), @SubmissionId, 
                CASE WHEN @Override = 1 
                     THEN 'Window override enabled: ' + @Reason
                     ELSE 'Window override removed' END,
                GETDATE(), @AdminUser);
                
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
